xmltv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://tempuri.org/xmltv" elementFormDefault="qualified" targetNamespace="http://tempuri.org/xmltv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="channel" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="programme" />
      </xs:sequence>
      <xs:attribute name="date" type="xs:string" />
      <xs:attribute name="source-info-url" type="xs:string" />
      <xs:attribute name="source-info-name" type="xs:string" />
      <xs:attribute name="source-data-url" type="xs:string" />
      <xs:attribute name="generator-info-name" type="xs:string" />
      <xs:attribute name="generator-info-url" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="display-name" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="icon" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="url" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="display-name">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="icon">
    <xs:complexType>
      <xs:attribute name="src" type="xs:string" use="required" />
      <xs:attribute name="width" type="xs:string" />
      <xs:attribute name="height" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="url">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="system" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="programme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="title" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sub-title" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="desc" />
        <xs:element minOccurs="0" maxOccurs="1" ref="credits" />
        <xs:element minOccurs="0" maxOccurs="1" ref="date" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="category" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="keyword" />
        <xs:element minOccurs="0" maxOccurs="1" ref="language" />
        <xs:element minOccurs="0" maxOccurs="1" ref="orig-language" />
        <xs:element minOccurs="0" maxOccurs="1" ref="length" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="icon" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="url" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="country" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="episode-num" />
        <xs:element minOccurs="0" maxOccurs="1" ref="video" />
        <xs:element minOccurs="0" maxOccurs="1" ref="audio" />
        <xs:element minOccurs="0" maxOccurs="1" ref="previously-shown" />
        <xs:element minOccurs="0" maxOccurs="1" ref="premiere" />
        <xs:element minOccurs="0" maxOccurs="1" ref="last-chance" />
        <xs:element minOccurs="0" maxOccurs="1" ref="new" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="subtitles" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="rating" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="star-rating" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="review" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="image" />
      </xs:sequence>
      <xs:attribute name="start" type="xs:string" use="required" />
      <xs:attribute name="stop" type="xs:string" />
      <xs:attribute name="pdc-start" type="xs:string" />
      <xs:attribute name="vps-start" type="xs:string" />
      <xs:attribute name="showview" type="xs:string" />
      <xs:attribute name="videoplus" type="xs:string" />
      <xs:attribute name="channel" type="xs:string" use="required" />
      <xs:attribute default="0/1" name="clumpidx" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sub-title">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="desc">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="credits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="director" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="actor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="writer" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="adapter" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="producer" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="composer" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="editor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="presenter" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="commentator" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="guest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="director">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="actor">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
      <xs:attribute name="role" type="xs:string" />
      <xs:attribute name="guest">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="no" />
            <xs:enumeration value="yes" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="writer">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="adapter">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="producer">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="composer">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="editor">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="presenter">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="commentator">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="guest">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="image" />
        <xs:element ref="url" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="date" type="xs:string" />
  <xs:element name="category">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="keyword">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="language">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="orig-language">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="length">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="units" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="seconds" />
                <xs:enumeration value="minutes" />
                <xs:enumeration value="hours" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="country">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="episode-num">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="onscreen" name="system" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="video">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="present" />
        <xs:element minOccurs="0" maxOccurs="1" ref="colour" />
        <xs:element minOccurs="0" maxOccurs="1" ref="aspect" />
        <xs:element minOccurs="0" maxOccurs="1" ref="quality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="present" type="xs:string" />
  <xs:element name="colour" type="xs:string" />
  <xs:element name="aspect" type="xs:string" />
  <xs:element name="quality" type="xs:string" />
  <xs:element name="audio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="present" />
        <xs:element minOccurs="0" maxOccurs="1" ref="stereo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereo" type="xs:string" />
  <xs:element name="previously-shown">
    <xs:complexType>
      <xs:attribute name="start" type="xs:string" />
      <xs:attribute name="channel" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="premiere">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="last-chance">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="new">
    <xs:complexType />
  </xs:element>
  <xs:element name="subtitles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="language" />
      </xs:sequence>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="teletext" />
            <xs:enumeration value="onscreen" />
            <xs:enumeration value="deaf-signed" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="rating">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="value" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="icon" />
      </xs:sequence>
      <xs:attribute name="system" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="value" type="xs:string" />
  <xs:element name="star-rating">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="value" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="icon" />
      </xs:sequence>
      <xs:attribute name="system" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="review">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="text" />
                <xs:enumeration value="url" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="source" type="xs:string" />
          <xs:attribute name="reviewer" type="xs:string" />
          <xs:attribute name="lang" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="image">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="poster" />
                <xs:enumeration value="backdrop" />
                <xs:enumeration value="still" />
                <xs:enumeration value="person" />
                <xs:enumeration value="character" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="size">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="1" />
                <xs:enumeration value="2" />
                <xs:enumeration value="3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="orient">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="P" />
                <xs:enumeration value="L" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="system" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>